.home-container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.about-me-section{
    width: 50%;
    height: 100%;
    color:wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.about-me-image-container{
    height: 40%;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-me-image{
    height: 100%;
    width: auto;
    object-fit: cover;
    margin: auto;
}

.about-me{
    text-align: center;
    width: 70%;
}

.navigation-section{
    width: 50%;
    height: 100%;
    position: relative;
    background-color:antiquewhite;
}
    


/* navigation start */

.navigation-section{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--fm-domine);
}

.navigation-link{
    text-decoration: none;
    font-size: clamp(2rem , 3rem , 10vw);
    margin-block: 2.5rem ;
}

.top-nav{
    display: none;
}

.menu-close-button{
    display: none;
}
    
/* navigation end */


@media screen and (max-width : 900px) {

    .top-nav{
        display: block;
    }
    
    .home-container{
        display: flex;
        flex-direction: column;
    }
    
    .about-me-section{
        width: 100%;
    }
    .navigation-section{
        display: none;
        /* width: 100%;
        position: absolute;
        top:0;
        right: -100%;
        z-index: 2; */
    }

    .menu-close-button{
        display: block;
        position: absolute;
        top: 3rem;
        right: 3rem;
    }



   
}