.home-container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.about-me-section{
    width: 50%;
    height: 100%;

    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.about-me-image-container{
    height: 40%;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-me-image{
    height: 100%;
    width: auto;
    object-fit: cover;
    margin: auto;
}

.about-me{
    text-align: center;
    width: 70%;
    font-family: var(--aboutMeFont);
    color: var(--darkWhite);

}

.navigation-section{
    width: 50%;
    height: 100%;
    position: relative;
    background-color:var(--darkWhite)    ;
    
}
    


/* navigation start */

.navigation-section{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--fm-domine);
}

.navigation-link{
    text-decoration: none;
    font-size: clamp(2rem , 3rem , 10vw);
    font-weight: bold;
    margin-block: 2.5rem ;
    cursor: pointer;
    color: var(--primaryBlue);
    font-family: var(--headerFont);
    transition: 0.1s all cubic-bezier(0,1.17,.95,1.02);
    
}

.navigation-link::after{
    content: "";
    width: 0;
    height: 100%;
    mix-blend-mode: difference;

    
}
.navigation-link:hover::after{
    content: "";
    width: 70%;
    transition: 0.3s all cubic-bezier(0,1.17,.95,1.02);
    cursor: pointer;
    position: absolute;
    left: 40%;
    z-index: -1;
    opacity: 0.5;
    background-color: var(--primaryGreen);

}

.top-nav{
    display: none;
}

.menu-close-button{
    display: none;
}
    
/* navigation end */


@media screen and (max-width : 900px) {

    .top-nav{
        display: block;
    }
    
    .home-container{
        display: flex;
        flex-direction: column;
    }
    
    .about-me-section{
        width: 100%;
    }
    .navigation-section{
        display: none;
        /* width: 100%;
        position: absolute;
        top:0;
        right: -100%;
        z-index: 2; */
    }

    .menu-close-button{
        display: block;
        position: absolute;
        top: 3rem;
        right: 3rem;
    }



   
}