.case-study-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #F5F4FC;
    padding:2rem 15rem;

}

.case-study-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-height: 60%;
}
.project-links{
    font-size: 1.5rem;
    display: flex;
    gap:1rem;
}

.project-link:hover{
    font-size: 1.8rem;
    color: var(--primaryBlue);
    cursor: pointer;
}

.project-description{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Courgette', cursive;
}

.case-study-carousel{
    width: 830px;
    text-align: center;

}

.case-study-divider{
    margin-block: 2rem;
}

.case-study-img{
    height: auto;
    object-fit: cover;
    width: 100%;
}

.project-info{
    display: flex;
    width: 830px;

    justify-content: space-between;
    align-items: center;
}
.project-techs{
    height: 100%;
}

.work-together{
    display: flex;
    width: 100%;
}

.work-together-form{
    width: 60%;
}

@media screen and (max-width : 900px) {

    .case-study-carousel{
        width: 90%;
        margin-bottom: 1rem;
        text-align: center;
    }

    .project-description{
        width: 80%;
        margin: auto;
    }

    .case-study-img{
        height: auto;

    }

    .case-study-container{
        padding: 0;
        }

    .case-study-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .project-info{
       width: 90%;
    }

    .work-together{
        flex-direction: column;
        font-family: 'Fredoka One', cursive;
        color:#031C82;

    }

}

input{
    font-family: 'Courier New', Courier, monospace;
}